<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='static/css/main.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Vending Machine</title>
</head>

<bodystyle="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #f4f4f4;">

    <!-- System Panel -->
    <div id="main_div" class='card  mb-3'>
        <div class='card-header lead text-center'>
            Smart Vending Machine
        </div>
        <div class='card-body'>
            <div class='container'>
                <div class='row justify-content-center'>
                    <div class='col-md-6 text-center'>
                        <p>{{ bootTime }}</p>
                    </div>
                </div>
                <div id="quantity_div" class='row justify-content-center'>
                    <div class='col-md-6 text-center'>
                        <div>
                            <p>Select Quantity : <span id="quantity">0</span>
                                <button type="button" class="btn btn-info" onclick="increaseQuantity();">+</button>
                                <button type="button" class="btn btn-info" onclick="decreaseQuantity();">-</button>
                            </p>
                        </div>
                        <button type="button" class="btn btn-info" id="generateQRButton" onclick="generateQRCode();">Continue</button>
                        <button type="button" class="btn btn-secondary" id="backButton" style="display: none;">Back</button>
                        <button type="button" class="btn btn-success" id="payButton" style="display: none;">Pay Now</button>
                    </div>
                </div>
                <div   id="qrCodeContainer" style="display: none;">
                    <div class='text-center'>
                        
                        <h3>PAYMENT</h3>
                        <img id="qrCodeImage" src="" alt="QR Code" width="250" height="250">
                        <h3>Scan this QR code to Pay</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src='static/js/main.js'></script>
</body>

</html>
